---
layout: default
title: Home
order: 1
permalink: /
---

<div class="home">
  <section class="container-fluid hero-banner">
    <div class="intro-text">
      <h2 class="name">{{ site.title }}</h2>
     <!--  <hr class="hero-logo"> -->
      <p class="hero-tagline">{{ site.description }}</p>
    </div>
  </section>
  <section class="container-fluid recent-projects">
    <h2>Recent Projects</h2>
    <ul class="post-list">
      {% for project in site.projects %}
        <li class="col-sm-4 col-xs-6">
          <i class="fa {{ project.icon }} "></i>
          <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
            <h2>{{ project.title }}</h2>
            {{ project.excerpt }}
          </a>
        </li>
      {% endfor %}
    </ul>
  <section>
  <section class="container-fluid recent-articles">
    <h2>Recent Posts</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  <section>
</div>
