$primary-color-dark: #00796B;
$primary-color: #009688;
$primary-color-light: #B2DFDB;
$primary-color-text: #FFFFFF;
$accent-color: #03A9F4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;


$main-nav-background: $primary-color-dark;

$nav-link-color: $primary-color-text;
$nav-link-visited: $primary-color-text;
$nav-link-hover: $primary-color-light;

$splash-page-background: $primary-color;
$splash-page-headline: $primary-color-text;
$splash-page-blurb: $primary-color-text;
$splash-page-scroll-icon: $primary-color-text;

$article-header: $primary-text-color;
$article-header-blub: $secondary-text-color;
$article-background: $divider-color;
$article-text: $primary-text-color;
$article-link: $accent-color;
$article-link-hover: $accent-color;

/*

will worry about buttons and map styling later
    
*/

$footer-background: $primary-color-dark;
$footer-column-header: $primary-color-text;
$footer-column-text: $primary-color-text;
$footer-column-link: $primary-color-text;
$footer-column-link-hover: $primary-color-light;