.home{
	float: left;
	width: 100%;
	.hero-banner{
		text-align: center;
	    background: url("../images/dogs_cropped.jpg") no-repeat;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    color: #fff;
	    display: block;
	    min-height: 300px;
	}
}