.home{
	float: left;
	width: 100%;
	.hero-banner{
		text-align: center;
	    background: #009688;
	    color: #fff;
	    display: block;
	    height: 100vh;
	   	width: 100%;
    	float: left;		
		.name{
			position: relative;
			top: 20%;
			-webkit-transform: translateY(-20%); 
      		-ms-transform: translateY(-20%);
			transform: translateY(-20%);
			font-family: Montserrat, Helvetica,Arial,sans-serif;
		    text-transform: uppercase;
		    font-weight: 700;
		   //text-shadow: 2px -2px #000;
		    font-size: 4rem;
		    @media(max-width: 500px){
		    	font-size: 24px;
		    }
		    .drum-roll{
		    	display: inline-block;
		    	-webkit-animation: flip 2s infinite;
				-moz-animation: flip 2s infinite;
				-o-animation: flip 2s infinite;
		    	animation: flip 2s infinite;
		    }
		}
		.tagline-container{
			position: relative;
			width: 100%;
			top: 35%;
			height: calc(4*24px); // maybe throw this in DOMcode.js
			-webkit-transform: translateY(-35%); 
      		-ms-transform: translateY(-35%);
			transform: translateY(-35%);
			.hero-tagline{
				font-family: 'Montserrat', Helvetica,Arial,sans-serif;
				font-size: 16px;
				margin-bottom: 0;
				@media(max-width: 500px){
		    		font-size: 14px;
		    	}
			}
		}
		.goal{
			width: 100%;
			position: absolute;
			bottom: 0;
			font-family: 'Montserrat', Helvetica,Arial,sans-serif;
		}
		.arrow-down{
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			.scroll-link{
				@extend .nav-link;
			}
		}
	}
	/*
	.state-of-union{
		display: block;
		float: left;
		width: 100%;
		height: 900px;
		background: #dedede;
	    #state-of-union-grid{
	    	height: 80%;
			width: 50%;
			float: left;
		}
	}
	*/
	.state-of-union-blurb-container{
	    padding: 40px 20px;
	    background: #dedede;
	    float: left;
	    width: 100%;
	    .state-of-union-map-title{
	    	text-align: center;

	    }
	    .state-of-union-blurb{
	    	padding: 0 20vw;
	    }
	}
	.usa-map-container{
		text-align: center;
	    padding: 0 20px;
	    background: #dedede;
	    float: left;
	    width: 100%;
		#usa-map{
			float: left;
			width: 100%;
			position: relative;
			background: #dedede;
			.state-of-union-map{
				
			}
		}
		a {
			color: $primary-color;
        	&:hover {
            	color: $primary-color-dark;
            }
        } 
	}	
}
.quarter-selector-container{
	float: left;
	width: 100%;
	padding: 0 20px;
	.quarter-selector-options {
	    .mdl-button {
	        color: $primary-color;
	        &:hover {
	            color: $primary-color-dark;
	        }   
	    }
	}
}


/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;                      
	width: 150px;                  
	height: 150px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
.tooltip-svg{
	position: absolute;                                   
	font: 12px sans-serif;        
	background: white;           
	pointer-events: none; 
    width: 200px;
    height: 120px;
    padding: 20px;
	overflow: hidden;
}

        
/* Legend Position Style */
.legend {
	position: absolute;
    right: 0;
    bottom: 0;
}